.resume-nav{
	border-bottom: 1px solid #e5e5e5
}

.banner-img{
	background: url('/storage/banner.jpg');
	height: 500px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.template-wrapper{
	height: 100%;
	width: auto;
}

.display-5{
	font-size: 1.2rem;
}

.resume-section{
	transition: 0.2s;
	cursor: pointer;
}
.resume-section:hover{
	background-color: #f7eff2;
}
.bg-resume-section{
	background-color: #f7eff2;
}

.seperator-style {
	border: 2px dashed #f58686;
}

.sticky-div{
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
}
